<!--Footer-->
<div class="pt-0 pt-lg-3 container-fluid bg-white" id="footer">
  <!--Desktop only footer section-->
  <div class="row text-center footer-top d-none d-lg-flex px-3">
    <div class="col-4">
      <a class="navbar-brand" href="{% url 'home' %}">
        <h2 class="logo-font text-black my-0"><strong>Boutique</strong> Ado</h2>
      </a>
      <p class="p-2">
        If you’re
        looking for something new, you’re in the right place. We strive to be
        industrious and innovative, offering our customers something they want,
        putting their desires at the top of our priority list.
      </p>
    </div>
    <div class="col-4">
      <h4 class="uppercase">Quick&nbsp;links</h4>
      <nav class="nav flex-column">
        <a class="nav-link footer-link py-1" href="{% url 'profile' %}"
          >Profile</a
        >
        <a class="nav-link footer-link py-1" href="{% url 'account_signup' %}"
          >Register</a
        >
        <a class="nav-link footer-link py-1" href="{% url 'products' %}"
          >Products</a
        >
      </nav>
    </div>
    <div class="col-4 text-left">
      <h4 class="uppercase mb-3">Contact&nbsp;info</h4>
      <p>
        <i class="fas fa-map-marker-alt mr-3 icon-green"></i>
        Toronto, Canada
      </p>
      <p>
        <i class="fas fa-envelope mr-3 icon-green"></i
        ><a
          href="mailto:iratushina17@gmail.com?subject=ArtOfTea"
          class="email-phone-link"
        >
          randyaajrsp@gmail.com</a
        >
      </p>
    </div>
  </div>
  <!--Bottom main footer-->
  <div class="row main-footer py-3 py-lg-2">
    <div class="col-12 container text-center">
      <a
        href="https://github.com/randyaajr"
        target="_blank"
        rel="noopener"
        class="icon-footer-container"
      >
        <i class="fab fa-github media-icons" aria-hidden="true"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/randy-anderson-837124bb/"
        target="_blank"
        rel="noopener"
        class="icon-footer-container"
      >
        <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
      </a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener"
        class="icon-footer-container"
      >
        <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
      </a>
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener"
        class="icon-footer-container"
      >
        <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-12 text-center" id="mb-footer">
      <small>
        Boutique Ado &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Randy Anderson
      </small>
    </div>
  </div>
</div>
